
CONFIG_LV_COLOR_DEPTH_24=y
CONFIG_LV_FONT_MONTSERRAT_10=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_24=y

CONFIG_MCU_PERIPHERY_ENABLE_WIFI=y

CONFIG_MODULE_ENABLE_DISPLAY=y

CONFIG_DEBUG_CONSOLE_TEST_PASSWORD="KameSennin@ESoPe-1337"

#
# Module/Display Configuration
#
CONFIG_DISPLAY_ENABLE_SLD=y
# end of Module/Display Configuration

CONFIG_MODULE_ENABLE_EEPROM=y
CONFIG_MODULE_ENABLE_LCD_TOUCH=y
CONFIG_MODULE_ENABLE_LCD_TOUCH_DRIVER_ST1633I=y

CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
#
# Partition Table
#
# CONFIG_PARTITION_TABLE_SINGLE_APP is not set
# CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE is not set
# CONFIG_PARTITION_TABLE_TWO_OTA is not set
# CONFIG_PARTITION_TABLE_TWO_OTA_LARGE is not set
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

CONFIG_ESP_TASK_WDT_INIT=n